<!DOCTYPE html>
<html>
    <head>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Compare</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystyle.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystyle.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <header>
            <div class="header-container">
                <h1 class="title">Quantum Artificial Intelligence</h1>
                <nav>
                    <a href="../">Home</a>
                    <a href="manual">Manual</a>
                    <a href="playground">Playground</a>
                    <a href="">AI vs QAI</a>
                </nav>
            </div>
        </header>

        <div class="content">
            <h1>Testowanie Klasyfikatorów</h1>
          

            <div class="slide-container">
                <label for="samples-slider">Number of data samples:</label>
                <input type="range" min="10" max="150" value="75" class="slider" id="myRange">
                <p>Value: <span id="num_samples"></span></p>
            </div>
            
            <div class="classifier-container">
                <!-- Klasyfikator Klasyczny -->
                <div class="classifier">
                    <h2>Klasyfikator Klasyczny</h2>
                    <button id="classical-classifier-btn">Trenuj Klasyfikator Klasyczny</button>
                    <p id="classical-execution-time"></p>
                    <img id="classical-classifier-img" src="" alt="Wynik klasyfikacji klasycznej" style="display:none;" />
                    
                </div>
                <!-- Klasyfikator Kwantowy -->
                <div class="classifier">
                    <h2>Klasyfikator Kwantowy</h2>
                    <button id="quantum-classifier-btn">Trenuj Klasyfikator Kwantowy</button>
                    <p id="quantum-execution-time"></p>
                    <img id="quantum-classifier-img" src="" alt="Wynik klasyfikacji kwantowej" style="display:none;" />
                    
                </div>

                
            </div>
        </div>

        <script src="/static/scripts/classifier.js"></script>

    </body>
</html>
