<!DOCTYPE html>
<html>
    <head>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystyle.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header-container">
                <h1 class="title">Quantum Artificial Intelligence</h1>
                <nav>
                    <a href="">Home</a>
                    <a href="manual">Manual</a>
                    <a href="playground">Playground</a>
                    <a href="compare">AI vs QAI</a>
                </nav>
            </div>
        </header>
        <div class="chat-container">
            <div class="chat-bubble">Do you think computers are too slow?</div>
            <div class="chat-bubble">Are you fascinated by physics—especially quantum physics?</div>
            <div class="chat-bubble">Do you want to peek into the future of technology?</div>
        </div>
        <h2>Imagine a world where complex problems, which take today’s computers years to solve, are tackled in mere seconds. 
        This is the promise of <span class="highlight">quantum computing</span>—a revolutionary technology that uses the strange, 
        mind-bending principles of quantum physics to transform how we compute and process information. <h2>
        <h2>Take a deep dive into the world of quantum computers! <h2>
    </body>
</html>
