<!DOCTYPE html>
<html>
    <head>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Manual</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header-container">
                <h1 class="title">Quantum Artificial Intelligence</h1>
                <nav>
                    <a href="../">Home</a>
                    <a href="">Manual</a>
                    <a href="playground">Playground</a>
                    <a href="compare">AI vs QAI</a>
                </nav>
            </div>
        </header>
    
        <div class="content">
            <div class="right">
                <img src="/images/giphy.gif" alt="Bloob";>
            </div>
    </body>
</html>
