<!DOCTYPE html>
<html>
    <head>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Playground</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mystyle.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <h1>Quantum Artificial Inteligence</h1>
                <a href="../">Home</a>
                <a href="manual">Manual</a>
                <a href="">Playground</a>
            </nav>
        </header>
    
        <div class="content">
            <div class="right">
                <img src="/images/giphy.gif" alt="Bloob";>
            </div>
    </body>
</html>
