body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #140014, #000000);
}

header {
    background: linear-gradient(135deg, #3B1F54 50%, #5A3C66);
    padding: 20px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.title {
    color: white;
    font-size: 24px;
    margin: 0; 
}

nav {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-shadow: 8px 0px 3px #000000;
}

nav a {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-shadow: 8px 0px 3px #000000;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    text-shadow: 8px 0px 3px #000000;
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 0 5px;
}

h4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin: 0 5px;
}

nav a:hover {
    background: linear-gradient(135deg, #3B1F54, #5A3C66);
}

p{
    color: white;
}

.classifier-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.classifier {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    max-width: 1000px;
    margin: 50px auto;
}

.message-bubble {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 20px;
    width: fit-content;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.message-bubble-purple {
    background-color: #3B1F54;
}

.message-bubble-purple-second {
    background-color: #3B1F54;
}

.message-bubble-yellow {
    color: black;
    background-color: #eeff73;
}

.message-bubble-white {
    background-color: white;
    color: #3B1F54;
    align-self: flex-end;
}

.message-bubble-white-second {
    background-color: white;
    color: #3B1F54;
    align-self: flex-end;
}

.message-bubble-white-third {
    background-color: white;
    color: #3B1F54;
    align-self: flex-end;
}

.message-bubble-yellow-second {
    color: black;
    background-color: #eeff73;
}

.message-bubble-purple:before {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 5%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-top: 20px solid #3B1F54; 
}

.message-bubble-yellow:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -13px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #eeff73;
    border-bottom: 10px solid transparent;
}

.message-bubble-yellow-second:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -13px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #eeff73;
    border-bottom: 10px solid transparent;
}

.message-bubble-purple-second:before {
    content: "";
    position: absolute;
    bottom: 110px;
    right: -15px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #3B1F54;
    border-bottom: 10px solid transparent;
}

.message-bubble-white:before {
    content: "";
    position: absolute;
    bottom: 60px;
    right: 5%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 20px solid white; 
}

.message-bubble-white-second:before {
    content: "";
    position: absolute;
    bottom: 158px;
    right: 5%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 20px solid white; 
}

.message-bubble-white-third:before {
    content: "";
    position: absolute;
    bottom: 180px;
    left: 5%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-bottom: 20px solid white; 
}

.main-text {
    max-width: 800px; 
    margin: 30px auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px; 
    text-align: center;
}

.highlight {
    color: #eeff73;
    font-weight: bold;
}

.button-yellow {
    display: inline-block;
    background-color: #eeff73;
    color: black;
    padding: 15px 30px;
    border-radius: 30px;
    border-width: 0;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.button-yellow:hover {
    background-color: #5A3C66;
    color: white;
    cursor: pointer;
}

.info-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-card {
    background: linear-gradient(135deg, #3B1F54, #5A3C66);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.info-card:hover {
    transform: translateY(-5px);
}

.card-content {
    color: white;
}

.card-content h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    margin: 0;
}

.button-container-horizontal {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.button-container-vertical {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 20px;
}

.code-editor-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.code-editor-input {
    width: 100%;
    resize: none; 
}

.textarea-output {
    background-color: #282a36;
    color: #fff;
    border-width: 0;
    padding: 6px;
    width: 100%;
    resize: none;
    margin-top: 20px;
}

.accordion-toggle {
    background-color: #5A3C66;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.accordion-toggle:hover {
    background-color: #3B1F54;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.accordion-content p {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    margin: 15px 0;
}

.divider-yellow {
    width: 80%;
    height: 3px;
    background: linear-gradient(90deg, #eeff73, #f2ff9a);
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gif-container {
    display: flex;
    justify-content: center; 
    margin: 30px auto;
}

.gif-container img {
    max-width: 10%;  
    height: auto; 
    border-radius: 40px;  
    filter: invert(1);
}

input[type="range"] {
    width: 80%;
    margin: 20px 0;
}

.key-concepts {
    display: flex;             
    justify-content: space-around;  
    margin: 30px auto;              
    max-width: 800px;               
}

.concept {
    background: linear-gradient(90deg, #eeff73, #f2ff9a); 
    border-radius: 10px;             
    padding: 20px;                   
    text-align: center;             
    width: 15%;                     
    font-family: 'Roboto Mono', monospace; 
    color: black;                   
}

.centered-heading {
    text-align: center;     
    color: white;         
    margin: 20px 0;       
    font-family: 'Roboto Mono', monospace; 
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: black;
    border: 2px solid #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
}

.chat-button:hover {
    background-color: #f0f0f0;
}

.yellow-text {
    color: yellow;
}

.white-text {
    color: white;
}

.bubble-message {
    display: none; 
    position: fixed;
    bottom: 100px; 
    right: 40px; 
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    max-width: 250px;
    z-index: 999;
    word-wrap: break-word;
}

.bubble-message::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: #f1f1f1 transparent transparent transparent; 
}